@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.int {
  height: calc(100vh - 80px - 16px);
  overflow: auto;
}

.int2 {
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.int3 {
  height: calc(100vh - 80px - 16px - 35px);
}

.int4 {
  height: calc(100vh - 80px - 16px - 110px);
  width: calc(100vw - 500px);
  overflow: auto;
}

.int5 {
  height: calc(100vh - 80px - 16px - 15px);
  overflow: hidden;
}

/* Scrollbar global customizada */
::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: transparent; /* cor de fundo da trilha */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #757575; /* cor da alça */
  border-radius: 9999px;
  border: 2px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  background-clip: content-box;
}

.Bodyk {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}